/* font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Playfair Display', serif;
    color: #333333;
}
.container {
    margin: auto;
    width: 90%;
    max-width: 969px;
}
/*  =========
    first lay
========*/
.first-lay {
    margin-top: 2em;
}
.first-lay h1 { 
    font-weight: 700;
    font-size: 3rem;
}
.first-lay .flex {
    display: flex;
    align-items:baseline;
    justify-content:space-between;
    width: 60%;
    font-size: 0.875rem;
    margin-top: 1em;
    margin-bottom: 3em;
}
.first-lay p {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    color: #4F4F4F;
    width: 95%;
}
.first-lay .cake  {
    width: 100%;
}
@media (max-width: 660px){
    .container {
        width: 95%;
    }
    .first-lay h1 {
        font-size: 2rem;
    }
    .first-lay .flex {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .container {
        width: 95%;
    }
    .first-lay h1 {
        font-size: 1.8rem;
    }
    .first-lay .flex {
        width: 100%;
    }
}

/*  =========
    seconde lay
========*/

.seconde-lay {
    margin-top: 4em;
}
.seconde-lay .content{
    width: 60%;
}
.seconde-lay .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.seconde-lay .content div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.seconde-lay .content div{
    margin-bottom: 1em;
}
.seconde-lay .content div label{
    width: 95%;
}
.seconde-lay .content h2{
    font-size: 2rem;
}
.seconde-lay .content p{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    padding:2em 0px ;
}
label {
    font-family: 'Montserrat', sans-serif;
}
span{
    font-weight: bold;
}
@media (max-width: 450px) {
    .seconde-lay .content h2{
        font-size: 1.5rem;
    }
    .seconde-lay .content p{
        font-size: 1.125rem;
    }
    .seconde-lay .content{
        width: 100%;
    }
    .seconde-lay .content div label{
        width: 90%;
    }
}
@media (max-width: 770px){
    .seconde-lay .content{
        width: 100%;
    }
} 
/* @media (max-width: 60px){
    .seconde-lay .content{
        width: 100%;
    }
}  */

/* ======
    side
========*/

.side{
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 4rem 2rem;
}
.side .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em ;
}
.side .flex div{
    width: 70%;
}
.side i {
    color: #4F4F4F;
    font-size: 1.5rem;
}
.side .orange i ,
.side .orange
{
    color: #F2994A !important;

}
.side p{
    color: #BDBDBD;
    font-weight: 700;
    font-size:0.625rem ;
    padding-bottom: 1em;
}
.side h4{
    font-weight: 500;
    font-size:0.875rem ;
}
@media (max-width: 770px) {
    .seconde-lay {
        margin-top: 2em;
    }
    .side p{
        font-size:0.8rem ;
    }
    .seconde-lay .container{
        flex-direction: column-reverse;
    }
    .side{
        width: 100%;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0em;
    }
    .side p{
        padding-bottom: 0em;
    }
    .side h4{
        font-size:0.7rem ;
    }
    .side i {
        font-size: 1.3rem;
        margin-right: 0.4em;
    }
    .side .flex {
        justify-content: flex-start;
        width: 30%;
    }
    .side .orange {
        width:100% ;
    }
}
@media (min-width: 450px) and (max-width: 770px) {
    .side h4{
        font-size:1rem ;
    }
    .side i {
        font-size: 1.7rem;
        margin-right: 0.4em;
    }
}

/* ====== 
    lay-three
======== */

.third-lay .container .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2em;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}
.third-lay .container h2 {
    font-size: 2rem;
    margin: .5em 0em;
}
.third-lay .container .content .num{
    font-size: 1.5rem;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #F2994A;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.third-lay .container .content :last-child{
    width: 93%;
    line-height: 20px;
}
@media (max-width: 770px){
    .third-lay .container .content{
        width: 100%;
    }
    .third-lay .container .content :last-child{
        width: 90%;
    }
} 
@media (min-width: 450px) and (max-width: 770px) {
    .third-lay .container .content :last-child{
        width: 93%;
    }
}
